<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
        <a class="<%= (page=='accueil' ? `active item` : (`item`)) %>" href="/">Accueil</a>
        <a class="<%= (page=='livre' ? `active item` : `item`) %>" href="/livre">Livre d'or</a>
        <a class="item">Rien</a>
        <a class="item">Rien</a>
        <!--<div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
        </div>-->
        </div>
    </div>